
.slide-zone{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    height: 300px;
    background: rgb(74, 74, 71);
    position: relative;
    /* padding: 75px 0 75px 0; */
    z-index: 1;
}

.slide-img0,
.slide-img1,
.slide-img2,
.slide-img3,
.slide-img4,
.slide-img5,
.slide-img6,
.slide-img7,
.slide-img8,
.slide-img9,
.slide-img10,
.slide-img11,
.slide-img12,
.slide-img13,
.slide-img14,
.slide-img15,
.slide-img16,
.slide-img17,
.slide-img18,
.slide-img19,
.slide-img20,
.slide-img21,
.slide-img22,
.slide-img23,
.slide-img24,
.slide-img25,
.slide-img26,
.slide-img27,
.slide-img28,
.slide-img29,
.slide-img30,
.slide-img31,
.slide-img32,
.slide-img33,
.slide-img34,
.slide-img35,
.slide-img36,
.slide-img37,
.slide-img38,
.slide-img39,
.slide-img40,
.slide-img41,
.slide-img42,
.slide-img43,
.slide-img44{
    width: 50px;
    height: 50px;
    top: 120px;
    right: 0px;
    padding: 0;
    z-index: 2;
    position: absolute;
}


.whitebox_left{
    width: 50px;
    height: 300px;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: 10;
    position: absolute;
}

.whitebox_right{
    width: 50px;
    height: 300px;
    top: 0;
    right: 0;
    background: #FFF;
    z-index: 3;
    position: absolute;
}  


.drum-img{
    width: 150px;
    height: 150px;
    top: 75px;
    left: 50px;
    z-index: 1;
    position: absolute;
}






.video-zone{
    text-align: center;
    margin: 30px 0 0 0 ;
    padding: auto;
    width: 100%;
}

video{
    padding: auto;
    background: #000000;
    }



/* 以下スタートボタンコピペ */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.start{
    flex-basis: 80%;
    padding: 0;
    margin: 0;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    text-decoration: none;
}
.start button{
    flex-basis: 32%;
    list-style-type: none;
}
.btn {
    font-size: 40px;
    color: #fff;
    padding: 20px 50px;
    /* display: block; */
    border-radius: 50px;
    /* text-align: center; */
    /* position: relative; */
    z-index: 2;
    will-change: transform, filter;
    transform-style: preserve-3d;
    transition: all .3s ease-out;
    position:fixed;
    right:50px;
    bottom:50px;
}
.btn:hover {
    transform: scale(0.95);
  }
  .btn::before {
    content: "";
    height: 40px;
    /* display: inline-block; */
    /* position: absolute; */
    left: 30px;
    right: 30px;
    bottom: -5px;
    z-index: -1;
    border-radius: 50px;
    opacity: .8;
    filter: blur(15px);
    transform-style: preserve-3d;
    transition: all .3s ease-out;
  }
  .btn:hover::before {
    bottom: 0;
    filter: blur(8px);
  }

  .gradient2,
  .gradient2::before {
    background: -moz-linear-gradient(left, #E96D71 0%, #FAD7A1 80%, #FAD7A1 100%);
    background: -webkit-linear-gradient(left, #E96D71 0%, #FAD7A1 80%, #FAD7A1 100%);
    background: linear-gradient(to right, #E96D71 0%, #FAD7A1 80%, #FAD7A1 100%);
  }


  /* 以下スコアボタンコピペ */

  body {
    /* margin:0; */
    /* background-color:#191919; */
    /* min-height:100vh; */
    /* display:flex; */
    /* align-items:center; */
    /* justify-content:center; */
    font-family:Helvetica,Sans-serif;
  }
  .rule{
    text-align: center;
    padding: 50px;
    margin: auto;
    position:fixed;
    left:20px;
    top:350px;

    text-decoration:none;
    /* color:#FFF; */

    width:300px;
    height:150px;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:5px;
    /* display:flex; */
    /* align-items:center; */
    /* justify-content:center; */
    text-transform:uppercase;
    font-size:15px;
    font-weight:bold;
  }


  
  @keyframes slidebg {
    to {
      /* background-position:20vw; */
    }
  }